/*
font-family: 'Klee One', cursive;
font-family: 'M PLUS Rounded 1c', sans-serif;
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #132d40;
  display: flex;
  justify-content: center;
  align-items: center;

}
fieldset{
  border-radius: 30px;
  height: 100px;
  width: 80vw;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
legend{
  font-family: 'Klee One', cursive;
  color: white;
  margin-left: 50px;
  font-size: 1rem;
  padding: 0 10px;

}

fieldset input{
  border: none;
  width: 90%;
  height: 90%;
  font-size: larger;
  background-color: #132d40;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

fieldset input:focus{
  color: white;
  outline: none;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.nameSection{
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}

.nameCard{
  width: calc(20vw - 20px);
  height: calc(20vw - 20px);
  border: 1px solid white;
  margin: 10px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nameCard{
  color: white;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: larger;
  display: flex;
  flex-direction: column;

}

.hide{
  display: none;
}

@media only screen and (max-width:960px ) {
  .nameCard{
    width: calc(45vw - 20px);
    height: calc(45vw - 20px);
    font-size: 0.6rem;

  }
  .nameSection{
    width: 95vw;
  }
  fieldset{
    width: 95vw;
  }
  input{
    font-size: 0.5rem;
    padding: 20px;
  }
  }